@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap');

:root {
  --background: #fffbf5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Schibsted Grotesk', sans-serif;
  overscroll-behavior: none;
}

.inputgsoft {
  @apply w-full bg-[#f7f2eb] p-3 border transition duration-500 border-[#8f8879] rounded-[12px] text-[16px] font-medium placeholder-[#16140c] placeholder-opacity-60 leading-5 focus:ring-8 focus:ring-[#16140c24] outline-offset-2 focus:outline-2 outline-[#16140c] tracking-normal text-start text-ellipsis whitespace-nowrap;
}
